Magic 271485
Revision Verdi_V-2023.12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 582 383 141

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/datahdd/riscv/huyiru/RocketVectorVerification/dcache/sim/base_func/wave/tilelink_probe_hazard_test_1.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 1615.039798 1652.594489 1n
cursor 1628.000000
marker 1636.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 78
; marker line index
markerPos 84

; rename signal list
; addRenameSig new_name org_name
activeDirFile "" "/datahdd/riscv/huyiru/RocketVectorVerification/dcache/sim/base_func/wave/tilelink_probe_hazard_test_1.fsdb"

addRenameSig "/tb_top/m_lsu_if/paddr_tag[38:13]" "/tb_top/m_lsu_if/io_req_bits_paddr[38:13]" keep

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/tb_top/m_lsu_if/paddr_set[12:6]" "/tb_top/m_lsu_if/io_req_bits_paddr[12:6]" keep

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/tb_top/m_lsu_if/paddr_word[5]" "/tb_top/m_lsu_if/io_req_bits_paddr[5]" keep

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/tb_top/m_lsu_if/paddr_bank[4:3]" "/tb_top/m_lsu_if/io_req_bits_paddr[4:3]" keep

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/tb_top/m_lsu_if/paddr_row_offset[2:0]" "/tb_top/m_lsu_if/io_req_bits_paddr[2:0]" keep

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n UU logical_expression_2 "/tb_top/m_lsu_if/io_req_valid"& "/tb_top/m_lsu_if/io_req_ready"

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n UU b_hs "/tb_top/tilelink_slave_if[0]/b_ready"& "/tb_top/tilelink_slave_if[0]/\
b_valid"

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n UU c_ready "/tb_top/tilelink_slave_if[0]/c_valid"& "/tb_top/tilelink_slave_if[0]/\
c_ready"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/c_hs" "/c_ready" keep

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n UU d_hs "/tb_top/tilelink_slave_if[0]/d_valid"& "/tb_top/tilelink_slave_if[0]/\
d_ready"

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n UU req_hs "/tb_top/m_lsu_if/io_req_valid"& "/tb_top/m_lsu_if/io_req_ready"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1"
activeDirFile "" "/datahdd/riscv/huyiru/RocketVectorVerification/dcache/sim/base_func/wave/tilelink_probe_hazard_test_1.fsdb"
addSignal -h 24 /tb_top/m_lsu_if/clk
addSignal -h 24 -holdScope rst_n
addSignal -h 24 -holdScope io_req_valid
addSignal -h 24 -holdScope io_req_ready
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 22 /req_hs
addSignal -h 24 -UNSIGNED -HEX /tb_top/m_lsu_if/io_req_bits_cmd[4:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope io_req_bits_dest[4:0]
addSignal -expanded -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope io_req_bits_paddr[38:0]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope paddr_tag[38:13]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope paddr_set[12:6]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -holdScope paddr_word[5]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope paddr_bank[4:3]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope paddr_row_offset[2:0]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope io_req_bits_size[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope io_req_bits_wmask[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope io_req_bits_wdata[511:0]
addSignal -h 24 -holdScope io_req_bits_noAlloc
addSignal -h 24 -holdScope io_req_bits_signed
addSignal -h 24 -UNSIGNED -HEX -holdScope io_req_bits_source[7:0]
addSubGroup "dut syn"
addSignal -h 24 /tb_top/m_lsu_if/clk
addSignal -c ID_ORANGE4 -ls solid -lw 1 -h 21 /tb_top/U_GPCDCache/refillQueue/io_refillResp_ready
addSignal -c ID_ORANGE4 -ls solid -lw 1 -h 21 -holdScope io_refillResp_valid
addSignal -c ID_ORANGE4 -ls solid -lw 1 -h 21 -UNSIGNED -HEX -holdScope io_refillResp_bits_entryId[4:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 21 /tb_top/U_GPCDCache/s1_req_isRefill
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 21 -holdScope s1_canDoRefill
addSignal -h 21 -UNSIGNED -HEX -holdScope s1_req_paddr[38:0]
addSignal -h 21 -holdScope s1_req_isProbe
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 /tb_top/U_GPCDCache/mainReqArb/io_out_valid
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 -holdScope io_out_bits_isRefill
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 -holdScope io_out_bits_isProbe
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 -UNSIGNED -HEX -holdScope io_out_bits_paddr[38:0]
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 /tb_top/U_GPCDCache/mshrs/mshrs/allocateArb/io_in_0_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_1_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_2_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_3_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_4_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_5_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_6_valid
addSignal -c ID_RED6 -ls solid -lw 1 -h 21 -holdScope io_in_7_valid
addSignal -h 21 /tb_top/U_GPCDCache/mshrs/iomshrs/allocArb/io_in_0_valid
addSignal -h 21 -holdScope io_in_1_valid
addSignal -h 21 -holdScope io_in_2_valid
addSignal -h 21 -holdScope io_in_3_valid
addSignal -h 21 -holdScope io_in_4_valid
addSignal -h 21 -holdScope io_in_5_valid
addSignal -h 21 -holdScope io_in_6_valid
addSignal -h 21 -holdScope io_in_7_valid
addSignal -h 21 /tb_top/U_GPCDCache/probeQueue/io_mainPipeReq_valid
addSignal -h 21 -UNSIGNED -HEX -holdScope io_mainPipeReq_bits_paddr[38:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 /tb_top/U_GPCDCache/mshrs/iomshrs/io_resp_valid
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 -holdScope io_resp_ready
addSignal -c ID_RED5 -ls solid -lw 1 -h 21 -UNSIGNED -HEX -holdScope io_resp_bits_dest[4:0]
endSubGroup "dut syn"
addSignal -h 22 -UNSIGNED -HEX /tb_top/U_GPCDCache/lrscCount[6:0]
addSignal -h 22 -holdScope s0_valid
addSignal -h 22 -holdScope s1_valid
addGroup "G2"
addSignal -h 24 /tb_top/m_lsu_if/clk
addSignal -h 24 -holdScope io_resp_valid
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope io_resp_bits_dest[4:0]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 24 -UNSIGNED -HEX -holdScope io_resp_bits_status[1:0]
addSignal -h 24 -holdScope io_nextCycleWb
addSignal -h 24 -holdScope io_resp_bits_hasData
addSignal -h 24 -UNSIGNED -HEX -holdScope io_resp_bits_data[511:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope io_resp_bits_source[7:0]
addGroup "tilelink"
addSubGroup "A"
addSignal -h 22 -UNSIGNED -HEX /tb_top/U_GPCDCache/lrscCount[6:0]
addSignal -h 24 /tb_top/tilelink_slave_if[0]/tl_clock
addSignal -h 24 -holdScope a_valid
addSignal -h 24 -holdScope a_ready
addSignal -h 24 -UNSIGNED -HEX -holdScope a_source[15:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_opcode[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_param[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_address[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_size[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_data[512:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope a_mask[127:0]
addSignal -h 24 -holdScope a_corrupt
endSubGroup "A"
addSubGroup "B"
addSignal -h 24 /tb_top/tilelink_slave_if[0]/b_valid
addSignal -h 24 -holdScope b_ready
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 22 /b_hs
addSignal -h 22 -UNSIGNED -HEX /tb_top/U_GPCDCache/probeQueue/io_lrscAddr_bits[32:0]
addSignal -h 24 -UNSIGNED -HEX /tb_top/tilelink_slave_if[0]/b_address[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope b_source[15:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope b_param[2:0]
addSignal -h 24 -holdScope b_corrupt
addSignal -h 24 -UNSIGNED -HEX -holdScope b_data[1023:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope b_mask[127:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope b_opcode[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope b_size[63:0]
endSubGroup "B"
addSubGroup "C"
addSignal -h 24 /tb_top/tilelink_slave_if[0]/c_valid
addSignal -h 24 -holdScope c_ready
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 22 /c_hs
addSignal -h 24 -UNSIGNED -HEX /tb_top/tilelink_slave_if[0]/c_source[15:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope c_opcode[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope c_param[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope c_address[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope c_size[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope c_data[1023:0]
addSignal -h 24 -holdScope c_corrupt
endSubGroup "C"
addSubGroup "D"
addSignal -h 24 /tb_top/tilelink_slave_if[0]/d_valid
addSignal -h 24 -holdScope d_ready
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 22 /d_hs
addSignal -h 24 -UNSIGNED -HEX /tb_top/tilelink_slave_if[0]/d_source[15:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope d_opcode[2:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope d_param[1:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope d_size[63:0]
addSignal -h 24 -UNSIGNED -HEX -holdScope d_data[511:0]
addSignal -h 24 -holdScope d_denied
addSignal -h 24 -holdScope d_corrupt
addSignal -h 24 -UNSIGNED -HEX -holdScope d_sink[2:0]
endSubGroup "D"
addSubGroup "E"
addSignal -h 24 /tb_top/tilelink_slave_if[0]/e_valid
addSignal -h 24 -holdScope e_ready
addSignal -h 24 -UNSIGNED -HEX -holdScope e_sink[2:0]
endSubGroup "E"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/datahdd/riscv/huyiru/RocketVectorVerification/dcache/sim/base_func/wave/tilelink_probe_hazard_test_1.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/_vcs_unit__4214790066"
"/tb_top"

SCOPE_LIST_BEGIN
"/_vcs_unit__4214790066"
"/_vcs_unit__3509641180"
"/_vcs_unit__3654021924"
"/_vcs_unit__417921794"
"/_vcs_unit__2395267899"
"/_vcs_unit__517536623"
"/_vcs_unit__930505288"
"/tb_top/U_CCDCache"
"/tb_top/m_lsu_if"
"/tb_top/U_GPCDCache"
"/tb_top/tilelink_master_if[0]"
"/tb_top/tilelink_slave_if[0]"
"/uvm_pkg"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


